*.bat
*.prefs
*.class
/target/classes
/target/PlotSquared-Null.jar
/target/PlotSquared-Uber.jar
/target/maven-archiver
*.project
*.classpath
/target/
/.gradle
/.idea
*.log
gradle.log
/lib
/core/lib
/bukkit/lib
/core/build
/forge189/build
/forge1710/build
/sponge/build
/sponge111/build
/bukkit/out
/nukkit/out
/sponge112/build
/core/out
/bukkit/build
/bukkit0/build
/bukkit19/build
/bukkit18/build
build
/mvn
spigot-1.10
wiki_permissions.md
/textures
*.iml
/obj
docs/

bukkit/bin/
core/bin/
favs/bin/
forge110/bin/
forge189/bin/
forge194/bin/
