*.bat
*.prefs
*.class
/target/classes
/target/PlotSquared-Null.jar
/target/PlotSquared-Uber.jar
/target/maven-archiver
*.project
*.classpath
/target/
/.gradle
/.idea
*.log
gradle.log
/lib
/core/lib
/bukkit/lib
/core/build
/forge189/build
/forge1710/build
/sponge/build
/bukkit/build
/bukkit0/build
/bukkit19/build
/bukkit18/build
build
/mvn
spigot-1.10